@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body{
    display:grid;
    justify-content:center;
    align-content:center;
    height:100vh;
    font:5vh Lora;
}

a {
    color:#222a;
    text-decoration:#2224 wavy underline;
    transition:all 0.3s;
    &:hover {
        color:#2223;
        text-shadow:0 0 100px #333;
    }
}

canvas {
    position:fixed;
    z-index:-1;
}



.zerg{

}

.zerg.type1{
     position: absolute;
     top: 500px;
     left: 700px;
     opacity: 1;
     animation-name: leftToRight;
     animation-duration: 1s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

.zerg.type1:hover{
     animation-play-state: paused;
     opacity: 1;
}
.zerg.type2{
     position: absolute;
     top: 400px;
     left: 100px;
     opacity: 1;
     animation-name: zigzag;
     animation-duration: 1s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

.zerg.type2:hover{
     animation-play-state: paused;
     opacity: 1;
}
.zerg.type3{
     position: absolute;
     top: 100px;
     left: 500px;
     opacity: 1;
     animation-name: zig;
     animation-duration: 1s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

.zerg.type3:hover{
     animation-play-state: paused;
     opacity: 1;
}
.zerg.type4{
     position: absolute;
     top: 500px;
     left: 500px;
     opacity: 1;
     animation-name: blink;
     animation-duration: 70ms;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

.zerg.type4:hover{
     animation-play-state: paused;
     opacity: 1;
}
.zerg.type5{
     position: absolute;
     top: 300px;
     left: 900px;
     opacity: 1;
     animation-name: Orbita2;
     animation-duration: 2s;
     animation-direction: normal;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

.zerg.type5:hover{
     animation-play-state: paused;
     opacity: 1;
}
.zerg.type6{
     position: absolute;
     top: 100px;
     left: 100px;
     opacity: 1;
     animation-name: upToDown;
     animation-duration: 1s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}
.zerg.type6:hover{
     animation-play-state: paused;
     opacity: 1;
}
.zerg.type7{
     position: absolute;
     top: 100px;
     left: 1200px;
     opacity: 0;
     animation-name: op;
     animation-duration: 1ms;
}
.zerg.type6:hover{
     animation-play-state: running;
     opacity: 1;
}



@keyframes op {
    from {opacity: 0; }
    to   {opacity: 1;}
}
@keyframes Orbita2 {
    from { transform: rotate(180deg) translateX(150px) rotate(180deg); }
    to   { transform: rotate(540deg) translateX(150px) rotate(540deg); }
}
@keyframes upToDown{
     0%{
          top: 100;
          opacity: 1;
     }
     50%{
          opacity: 1;
     }
     100%{
          top: 500px;
          opacity: 1;
     }
}
@keyframes leftToRight{
     0%{
          left: 0;
          opacity: 1;
     }
     50%{
          opacity: 1;
     }
     100%{
          left: 1000px;
          opacity: 1;
     }
}
@keyframes blink{
     0%{
          opacity: 1;
     }
     100%{
          opacity: 0;
     }
}
@keyframes zig{
     0%{
          left: 500;
          top: 100;
     }
     50%{
          opacity: 1;
     }
     100%{
          left: 1000px;
          top: 500px;
     }
}
@keyframes zigzag{
     0%{
          left: 0px;
          top: 0px;     

     }
     25%{
          left: 300px;
          top: 500px;     
     }
     50%{
          left: 600px;
          top: 0px; 
     }
     75%{
          left: 900px;
          top: 500px; 
     }
     100%{
          left: 1200px;
          top: 0px; 
     }
}

